[Unit]
Description=System ready send email service
After=docker.service
 
[Service]
WorkingDirectory=/home/dietpi/Repo/Gıt/rpi-system--/
ExecStart=/bin/docker-compose up --build
StandartOutput=inherit
StandartError=inherit
User=dietpi
 
[Install]
WantedBy=multi-user.target
