[Unit]
Description=System ready send email service
After=docker.service
 
[Service]
WorkingDirectory=/home/dietpi/Repo/Git/rpi-system--/
ExecStart=/bin/docker run --rm -e EMAIL=$EMAIL -e PASSWORD=$PASSWORD  emrahburak/sendmail:dev
User=dietpi
 
[Install]
WantedBy=multi-user.target
