[Unit]
Description=System ready send email service
After=docker.service
 
[Service]
EnvironmentFile=/home/dietpi/Repo/Git/rpi-system--/.env
WorkingDirectory=/home/dietpi/Repo/Git/rpi-system--/
ExecStart=/bin/docker run --rm --env-file $EnvironmentFile emrahburak/sendmail:dev
User=dietpi
 
[Install]
WantedBy=multi-user.target
